<?xml version="1.0" encoding="utf-8"?>
<!--数据库链接字符串-->
<connectionStrings>
  <add name="MsSqlBaseDbConnectionString" connectionString="Data Source=.;Initial Catalog=Berry;User ID=sa;Password=123456;Pooling=true;Max Pool Size = 5120;Min Pool Size=0;" providerName="System.Data.SqlClient" />
</connectionStrings>
