<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
  <typeAliases>
    <!-- IDatabase对象 -->
    <typeAlias alias="IDatabase" type="Berry.Data.IDatabase,Berry.Data" />
    <!-- IDatabase具体实现类 -->
    <typeAlias alias="MsSqlDatabase4Dapper" type="Berry.Data.Dapper.MsSqlDatabase4Dapper,Berry.Data.Dapper" />

    <!-- 数据库类型 -->
    <typeAlias alias="DatabaseType" type="Berry.Data.DatabaseType,Berry.Data" />
    <!-- 目标数据库类型 -->
    <typeAlias alias="SqlServer" type="Berry.Data.DatabaseType,Berry.Data" />
  </typeAliases>
  <containers>
    <container name="DbContainer">
      <type type="IDatabase" mapTo="MsSqlDatabase4Dapper"></type>

      <!--默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="DatabaseType" mapTo="SqlServer" ></type>
    </container>
  </containers>
</unity>