<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--系统名称-->
  <add key="SoftName" value="后台管理系统"/>
  <!-- 登陆提供者模式：Session、Cookie、Cache-->
  <add key="LoginProvider" value="Cache" />
  <!--使用的数据库，SqlServer、MySql-->
  <add key="DefaultDb" value="SqlServer" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />
</appSettings>