@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap/js", "~/bundles/utils")

    <script>
        $(function () {
            InitialPage();
        });
        //初始化
        function InitialPage() {
            $('#desktop').height($(window).height() - 22);
            $(window).resize(function (e) {
                window.setTimeout(function () {
                    $('#desktop').height($(window).height() - 22);
                }, 200);
                e.stopPropagation();
            });
        }
        //跳转到指定模块菜单
        function OpenNav(navid) {
            top.$("#nav").find('a#' + navid).trigger("click");
        }
    </script>
</head>
<body>
    <div class="border" id="desktop" style="margin: 10px 10px 0 10px; background: #fff; overflow: auto;">
        <div class="portal-panel">
            <!-- 加载编辑器的容器 -->
            <script id="container" name="content" type="text/plain">

            </script>
            <!-- 配置文件 -->
            <script src="~/Content/scripts/plugins/UEditor/ueditor.config.js"></script>
            <!-- 编辑器源码文件 -->
            <script src="~/Content/scripts/plugins/UEditor/ueditor.all.min.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var ue = UE.getEditor('container', {
                    autoHeight: false,
                    initialFrameWidth: 900
                });
                ue.ready(function () {
                    //设置编辑器的内容
                    ue.setContent('hello');
                    //获取html内容，返回: <p>hello</p>
                    var html = ue.getContent();
                    //获取纯文本内容，返回: hello
                    var txt = ue.getContentTxt();
                });
            </script>
        </div>
    </div>
</body>
</html>