
@{
    ViewBag.Title = "错误码说明";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>系统错误码说明</h3>
<hr />

<blockquote>
    <p><b>系统保留，100x</b></p>
</blockquote>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>状态值</th>
            <th>描述</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1000</td>
            <td>默认，无实际意义。</td>
        </tr>
    </tbody>
</table>

<blockquote>
    <p><b>基础状态码，200x</b></p>
</blockquote>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>状态值</th>
            <th>描述</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>2000</td>
            <td>请求(或处理)成功</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2001</td>
            <td>内部请求出错</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>2002</td>
            <td>操作失败</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>2003</td>
            <td>服务器异常</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>2004</td>
            <td>记录（资源）已经存在</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>2005</td>
            <td>记录（资源）不存在</td>
        </tr>
    </tbody>
</table>

<blockquote>
    <p><b>请求、参数验证态码，300x</b></p>
</blockquote>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>状态值</th>
            <th>描述</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>3001</td>
            <td>请求授权信息参数不完整或不正确</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>3002</td>
            <td>未授权</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>3003</td>
            <td>请求Token授权信息参数【用户编号】不存在</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>3004</td>
            <td>请求TOKEN失效</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>3005</td>
            <td>HTTP请求类型不合法</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>3006</td>
            <td>HTTP请求不合法,请求参数可能被篡改</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>3007</td>
            <td>该URL已经失效或请求时间戳失效</td>
        </tr>
    </tbody>
</table>

<blockquote>
    <p><b>登录、验证状态码，400x</b></p>
</blockquote>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>状态值</th>
            <th>描述</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>4001</td>
            <td>账号错误</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>4002</td>
            <td>密码错误</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>4003</td>
            <td>验证码错误</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>4004</td>
            <td>用户不存在</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>4005</td>
            <td>账号正常</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>4006</td>
            <td>账号被锁定</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>4007</td>
            <td>账号被禁用</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>4008</td>
            <td>未启用</td>
        </tr>
    </tbody>
</table>