<div class="row">
    <h3>API序<span style="color: #ce4844">【使用此API前请仔细阅读】</span></h3>
    <hr />
</div>

<div class="row">
    <blockquote>
        <p><b>版权声明</b></p>
    </blockquote>
    <p style="text-indent: 2em">未经成都携手同鑫网络有限公司明确的书面许可，本文的任何部分不得以任何方式或手段进行复制或传播，或用于任何用途。</p>
    <p style="text-indent: 2em">对于本文涉及的任何主题，本公司已用于专利、专利应用程序、商标、版权或其他知识产权。提供本文，并不意味着向您授予这些专利、商标、版权或其他知识产权的任何许可。</p>
    <p style="text-indent: 2em">©2017-2018 成都携手同鑫网络有限公司版权所有。</p>
</div>

<div class="row">
    <blockquote>
        <p><b>调用须知</b></p>
    </blockquote>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>应用环境</th>
                <th>请求地址</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>测试环境</td>
                <td>http://192.168.2.5:4422/</td>
                <td>本地开发测试环境</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">2</th>
                <td>正式环境</td>
                <td>http://m.api.55128.cn</td>
                <td>线上正式环境</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <blockquote>
        <p><b>返回结果示例（不带分页）</b></p>
    </blockquote>
    <pre>
       {
            "Status": 2000,
            "Data": [
                {
                    "Id": "8adcef5987fa456eb6bc3cd5de84207f",
                    "Title": "测试广告"
                }
            ],
            "Message": "请求(或处理)成功",
            "BackUrl": null,
            "ExecutionTime": null
        }
    </pre>
</div>

<div class="row">
    <blockquote>
        <p><b>返回结果示例（带分页）</b></p>
    </blockquote>
    <pre>
       {
            "Status": 2000,
            "Data": {
                "TotalPage": 162,
                "PageIndex": 1,
                "TotalRow": 1613,
                "Rows": [
                    {
                        "PK": 7823,
                        "TypeName": "大乐透技巧"
                    }
                ]
            },
            "Message": "请求(或处理)成功",
            "BackUrl": null,
            "ExecutionTime": null
        }
    </pre>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>字段名</th>
                <th>类型</th>
                <th>描述</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Status</td>
                <td>int</td>
                <td>状态码</td>
                <td>详情参见【@Html.ActionLink("错误码说明", "ErrorCode", "Home")】</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">2</th>
                <td>Data</td>
                <td>具体对象</td>
                <td>数据集</td>
                <td></td>
            </tr>
        </tbody>
        <tbody>
            <tr class="warning">
                <th scope="row">3</th>
                <td>TotalPage</td>
                <td>int</td>
                <td>总页数</td>
                <td>仅返回带分页数据时有值</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="warning">
                <th scope="row">4</th>
                <td>PageIndex</td>
                <td>int</td>
                <td>当前页</td>
                <td>仅返回带分页数据时有值</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="warning">
                <th scope="row">5</th>
                <td>TotalRow</td>
                <td>int</td>
                <td>总行数</td>
                <td>仅返回带分页数据时有值</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="warning">
                <th scope="row">6</th>
                <td>Rows</td>
                <td>具体对象</td>
                <td>数据集</td>
                <td>仅返回带分页数据时有值</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">7</th>
                <td>Message</td>
                <td>string</td>
                <td>服务器消息</td>
                <td></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">8</th>
                <td>BackUrl</td>
                <td>string</td>
                <td>跳转地址</td>
                <td>如果有需要跳转的地址会返回数据</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">9</th>
                <td>ExecutionTime</td>
                <td>string</td>
                <td>执行时间</td>
                <td>单位：毫秒(ms)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <blockquote>
        <p><b>开发注释规范</b></p>
    </blockquote>
    <pre>
        /// &lt;summary>
        /// API测试控制器
        /// &lt;/summary>
        public class TestController : BaseApiController
        {
            /// &lt;summary&gt;
            /// 测试是否连接成功
            /// &lt;/summary>
            /// &lt;param name="arg">测试参数&lt;/param&gt;
            /// &lt;returns>请求成功则返回成功状态信息&lt;/returns&gt;
            [HttpPost]
            public HttpResponseMessage HelloWorld(TestApiArgEntity arg)
            {
                //TODO 具体业务实现
            }
        }

        /// &lt;summary&gt;
        /// 用于测试API的参数实体
        /// &lt;/summary&gt;
        public class TestApiArgEntity : BaseParameterEntity
        {
            /// &lt;summary&gt;
            /// ID
            /// &lt;/summary&gt;
            public int Id { get; set; }

            /// &lt;summary&gt;
            /// 特征码
            /// &lt;value&gt;A-区域001 B-区域002&lt;/value&gt;
            /// &lt;/summary&gt;
            public string Code { get; set; }

            /// &lt;summary&gt;
            /// 开始时间
            /// &lt;/summary&gt;
            public DateTime StarTime { get; set; }
        }
    </pre>
</div>
