<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--*********************以下是系统基础配置相关*********************-->
  <!-- 登陆提供者模式：Session、Cookie、Cache-->
  <add key="LoginProvider" value="Cache" />
  <!--使用的数据库，SqlServer、MySql-->
  <add key="DefaultDb" value="SqlServer" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />
  
  <!--*********************以下是Redis相关*********************-->
  <!--Redis连接地址-->
  <add key="RedisExchangeHosts" value="127.0.0.1:6379,allowadmin=true"/>
  <!--系统自定义Key前缀-->
  <add key="RedisSysCustomKeyPrefix" value=""/>
</appSettings>