@{
    ViewBag.Title = "客户端";
}
<div class="table-responsive" id="clentLists">
</div>
<script>
    var serverId = '@Request["serverId"]';
    var clientView = {
        loadClients: function () {
            $.ajax({
                type: "get",
                url: "../../SystemManage/RedisMonitor/GetClients",
                data: {
                    serverId: serverId
                },
                dataType: "html",
                success: function (data) {
                    if (data != null) {
                        $("#clentLists").html(data);
                    }
                }
            });
            setTimeout(clientView.loadClients, $("#select_time").val() * 1000);
        }
    };
    $(function () {
        $(function () {
            clientView.loadClients();
        });
    });
</script>