<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
  <typeAliases>
    <typeAlias alias="IDatabase" type="Berry.Data.IDatabase,Berry.Data" />
    <!--SQL Server Dapper实现-->
    <typeAlias alias="MsSqlDatabaseByDapper" type="Berry.Data.Dapper.MsSqlDatabase,Berry.Data.Dapper" />
    <!--SQL Server ADO实现-->
    <typeAlias alias="MsSqlDatabaseByAdo" type="Berry.Data.ADO.MsSqlDatabase,Berry.Data.ADO" />
    <!--MySql Dapper实现-->
    <typeAlias alias="MySqlDatabaseByDapper" type="Berry.Data.Dapper.MySqlDatabase,Berry.Data.Dapper" />
    <!--EF实现-->
    <typeAlias alias="EFDatabase" type="Berry.Data.EF.EFDatabase,Berry.Data.EF" />

    <typeAlias alias="IDbContext" type="Berry.Data.DbContext.IDbContext,Berry.Data.DbContext" />
    <typeAlias alias="MySql" type="Berry.Data.DbContext.MySqlDbContext,Berry.Data.DbContext" />
    <typeAlias alias="SqlServer" type="Berry.Data.DbContext.MsSqlDbContext,Berry.Data.DbContext" />
  </typeAliases>
  <containers>
    <container name="DbContainer">
      <type type="IDatabase" mapTo="MsSqlDatabaseByAdo"></type>

      <!--默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="IDbContext" mapTo="SqlServer" ></type>
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type>
      <type type="IDbContext" mapTo="MySql" name="MySql"></type>
    </container>
  </containers>
</unity>